h1.signUpTitle{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    background-color: red;
}
div.credentials{
    margin: 0 auto;
    width: 40%;
    length: 200px;
    background-color: #ffffff;
    padding: 200px 20px 100px 20px;
    border-radius: 10px;
    border: 1px solid #000000;
    font-size: 20px;
    font-weight: bold;
    color: #000000;  
    position: relative;
    top:250px;
    
}

div.email{
    
}

/* Path: style.css */