
@font-face{
    font-family: 'bebasneue';
    font-weight: 400;
    src: url('./assests/fonts/bebasneue-regular-webfont.woff') format(woff);
    src: url('./assests/fonts/bebasneue-regular-webfont.woff2') format(woff2);
    src: url('./assests/fonts/BebasNeue-Regular.ttf') format(truetype);
}


@font-face{
    font-family: 'RobotoCondensed';
    src:('./assests/fonts/RobotoCondensed-Bold.ttf') format(truetype);
    src:('./assests/fonts/RobotoCondensed-Bolditalic.ttf') format(truetype);
    src:('./assests/fonts/RobotoCondensed-Italic.ttf') format(truetype);
    src:('./assests/fonts/RobotoCondensed-Light.ttf') format(truetype);
    src:('./assests/fonts/RobotoCondensed-LightItalic.ttf') format(truetype);
    src:('./assests/fonts/RobotoCondensed-Regular.ttf') format(truetype);
}

h1.signUpTitle{
    position: absolute;
    margin-bottom: 0px;
    padding: 20px 600px;
    left: 10.0571%;
    top:14%;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    background-color: red;
    font: 'bebasneue';
}

div.credentials{
    margin: 0 auto;
    width: 40%;
    length: 200px;
    background-color: #ffffff;
    padding: 200px 20px 100px 20px;
    border-radius: 10px;
    border: 1px solid #000000;
    font-size: 40px;
    font-weight: normal;
    color: #000000;  
    position: relative;
    top:250px;
    font-family: 'bebasneue';
}



input{
    border:none;
    border-bottom: 4px solid black;
    outline:none;
    width: 50%;
    font-family:"RobotoCondensed";
    font-size: xx-large;
    font-weight: 50;
    position: relative;
}


div.email{
    position: relative;
      top: -100px;
}



div.username, div.password{
    position: relative;
    Bottom: 100px;
}

div.usernamebox{
    position: relative;
    bottom:80px;
}

div.passwordbox{
    position: relative;
    bottom: 40px;
}

div.emailbox{
    position: relative;
    top: 40px;
}


/* Path: style.css */